*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BARRA NAV */

.nav-bar{
    max-width: 1920px;
    background-color: #FF6900;
    height: 70px;
}

.container{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
}

.left-side{
    max-width: 200px;
}

.main-menu{
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    color: white;
}

.logo{
    margin-top: 10px;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 300px;
    height: 60px;
}

/* FINE BARRA NAV */