*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BARRA NAV */

.nav-bar{
    max-width: 1920px;
    background-color: #FF6900;
    height: 70px;
    line-height: 70px;
    /* position: fixed; */
}

.container{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left-side{
    max-width: 200px;
}

.main-menu{
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 16px;
    color: white;
}

.logo{
    margin-top: 10px;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 300px;
    height: 60px;
}

/* FINE BARRA NAV */

.cards{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3);
    padding: 20px;
}

.card{
    /* border: 1px solid blue; */
    position: relative;
}

.models{
    display: block;
    width: 426px;
    height: 657px;
}

.card-sale{
    font-size: 12px;
    background-color: red;
    left: 0px;
    bottom: 50px;
    position: absolute;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color:white;
    z-index: 1;
}

.sost{
    background-color: green;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    bottom: 50px;
    left: 55px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.sost2{
    background-color: green;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.heart{
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 22px;
}

.bottom{
    max-width: 1920px;
    min-height: 400px;
    background-color: #333;
}